@import "../../../styles/Colors.scss";

.expandable-index {
    display: flex;
    flex-direction: column;
    padding: 32px;

    &__animation-duration-indicator {
        margin: 8px 0;
    }

    &__header {
        padding: 8px;
        margin-bottom: 4px;
        border: 1px solid $primary;
        user-select: none;

        &:hover {
            cursor: pointer;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__placeholder {
        border: 1px solid $primary;
    }
}
