.svg-transformation {
    span {
        margin-left: 20px;
        color: rgb(0, 192, 42);
    }

    &__container {
        display: inline-flex;

        textarea {
            height: 100%;
            width: 50vw;
        }
    }
    &__svg-container {
        border: 1px solid black;
        width: 513px;
        height: 513px;
    }
}
