@use "../../../styles/Breakpoints.scss" as media;

.form-input-index {
    display: flex;
    justify-content: center;
    padding: 32px;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;

        @include media.lg {
            width: 25%;
        }
    }

    &__end-adornment {
        color: var(--storybook-primary-color);
    }

    &__button {
        width: 100px;
        height: 36px;
        border-radius: var(--storybook-border-radius);
    }
}
