@import "../../styles/GlobalVariables.scss";
@import "../../styles/Colors.scss";

.storyline5 {
    display: flex;
    align-items: center;
    justify-content: center;

    &__form-1 {
        padding: 4px;
        margin-bottom: 4px;
        border: 1px solid $border;
        border-radius: $borderRadius;
        width: 25%;

        input {
            border: 1px solid grey;
            border-radius: 6px;
            padding: 10px;

            &:focus {
                outline: none;
                border-color: #719ece;
                box-shadow: 0 0 10px #719ece;
            }
        }
    }

    &__form-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
    }

    &__input-first-name {
        width: 50%;
        margin-right: 4px;
    }

    &__input-last-name {
        width: 50%;
    }

    &__input-email {
        width: 100%;
    }

    &__button-sign-up {
        display: block;
        width: 100%;
        padding: 14px 0;
        border: none;
        border-radius: 6px;
        background-color: rgba(28, 87, 250, 0.8);
        color: white;
        font-size: 20px;
        font-weight: bold;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    @media only screen and (max-width: 1024px) {
        &__form-1 {
            width: 50%;
        }
    }

    @media only screen and (max-width: 768px) {
        &__form-1 {
            width: 70%;
        }
    }
}
