$background: #ebedf6;
$backgroundPrimary: #9cafec;
$backgroundSecondary: #c3def8;
$backgroundTierce: #f5f7fd;
$backgroundOverlay: #d4d7e0;
$primary: #48adcf;
$secondary: #a2cfe9;
$tierce: rgb(89, 171, 177);
$inactive: grey;

$button: #a2cfe9;
$buttonFont: #2984a8;
$buttonHighlight: #b6c7e0;

$border: #482673;

$separator: rgb(138, 113, 145);
