$background: rgb(235,236,240);
$backgroundStory: rgb(255,255,255);
$backgroundSidebar: rgb(255,255,255);

$primary: rgb(54,150,180);
$secondary: rgb(230,247,255);
$tierce: rgb(89, 171, 177);

$font: rgb(35,39,47);

$inactive: grey;
$disabled: rgb(193, 199, 199);

$button: rgb(235,236,240);
$buttonFont: #2984a8;
$buttonHighlight: rgb(107, 209, 212);

$border: rgb(54,150,180);

$separator: rgb(112, 161, 175);
