$background: #f6ebf4;
$backgroundSecondary: #a4dace;
$backgroundTierce: #e29ec4;
$backgroundOverlay: #e0d4de;
$primary: #482673;
$secondary: #4cbfa6;
$tierce: #e40d83;
$inactive: grey;

$button: #b89ddd;
$buttonFont: #f6ebf4;
$buttonHighlight: #c7b6e0;

$border: #482673;

$separator: rgb(138, 113, 145);
