.expandable-div {
    overflow: hidden;

    &--expanded,
    &--collapsed {
        &-vertically,
        &-horizontally,
        &-diagonally {
            animation-duration: var(--animation-duration);
            animation-timing-function: var(--animation-timing-function);
            animation-fill-mode: forwards;
            transition-property: height, width;
            transition-duration: var(--animation-duration);
            transition-timing-function: var(--animation-timing-function);
        }
    }

    &--expanded {
        &-vertically {
            overflow: unset;
            height: var(--expandable-div-height);

            &-untouched {
                height: var(--expandable-div-height);
            }
        }
        &-horizontally {
            overflow: unset;
            animation-name: expand-horizontally;
            width: 100%;
            height: var(--expandable-div-height);

            &-untouched {
                width: var(--expandable-div-width);
                height: 100%;
            }
        }
        &-diagonally {
            overflow: unset;
            width: var(--expandable-div-width);
            height: var(--expandable-div-height);

            &-untouched {
                width: var(--expandable-div-width);
                height: var(--expandable-div-height);
            }
        }
    }

    &--collapsed {
        outline: none !important;

        &-vertically {
            height: 0px !important;

            &-untouched {
                height: 0px !important;
            }
        }
        &-horizontally {
            width: 0px !important;
            height: var(--expandable-div-height) !important;

            &-untouched {
                width: 0px !important;
            }
        }
        &-diagonally {
            width: 0px !important;
            height: 0px !important;

            &-untouched {
                width: 0px !important;
                height: 0px !important;
            }
        }
    }

    @keyframes expand-horizontally {
        0% {
            height: var(--expandable-div-height);
        }
        100% {
            height: auto;
        }
    }
}
