@import "../../styles/Colors.scss";
@import "../../styles/GlobalVariables.scss";

$squeezeTransition: 0.3s;

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
    text-align: center;
    padding: 10px;
    width: 100%;

    &__image {
        max-width: 80px;
        height: auto;

        &--squeezed {
            max-width: 40px;
        }
    }

    &__title {
        font-size: 50px;
        font-weight: bold;
        color: $primary;
        margin-left: 0.2em;
        transition: $squeezeTransition;

        &--squeezed {
            font-size: 25px;
        }
    }

    @media only screen and (max-width: 768px) {
        &__image {
            max-width: 40px;

            &--squeezed {
                max-width: 20px;
            }
        }

        &__title {
            font-size: 30px;

            &--squeezed {
                font-size: 15px;
            }
        }
    }
}
