@import "../../styles/GlobalVariables.scss";
@import "../../styles/Colors.scss";

.header {
    
    border: 2px solid $border;

    &__tools-grid {
        display: grid;
        grid-template-columns: 4fr 0.1fr 1fr;
    }

    .separator {
        width: 2px;
        background-color: $separator;
        margin: 0 4px;
    }

    &__tools {
        // display: flex;
        width: 18%;
        margin: 4px;
        padding: 4px;
    }

    &__search-bar {
        font-size: 20px;
    }

    &__button-search {
        border-radius: 6px;
        padding: 10px;

        span {
            margin-right: 4px;
        }

        &-icon {
            color: $buttonFont;
        }

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }
    }

    @media only screen and (max-width: 768px) {
        &__search-bar {
            font-size: 16px;
        }
    }
}
