@import "../../styles/GlobalVariables.scss";
@import "../../styles/Colors.scss";

$transitionDuration: 0.7s;
$sidebarHiddenTransformX: calc(100% - #{$borderRadius});

.sidebar {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s;
    height: 100vh;
    width: 20%;
    background-color: $backgroundSidebar;

    &__pusher {
        display: flex;
        height: 100%;
        min-width: 20%;
        transform: translate3d(0px, 0px, 0px);
        transition: all 0.5s ease 0s;

        &--closed {
            min-width: 0px;
            transform: translate3d($sidebarHiddenTransformX, 0px, 0px);
            transition: all 0.5s ease 0s;
        }
    }

    &--closed {
        transform: translate3d($sidebarHiddenTransformX, 0px, 0px);
        transition: all 0.5s ease 0s;
    }

    &__border-left {
        position: absolute;
        width: $borderRadius;
        height: 100%;
        background-color: $tierce;
        z-index: 2;
    }

    &__button-caret {
        position: absolute;
        border-radius: 50%;
        background-color: $background;
        top: 50px;
        left: -15px;
        z-index: 2;

        &:hover {
            svg {
                opacity: 0.7;
            }
        }

        &:active {
            svg {
                opacity: 0.5;
            }
        }

        svg {
            color: $tierce;
        }
    }

    &__content {
        overflow: auto;
        width: 100%;
        height: 100vh;
        margin: 10px 10px;
    }

    &__content-header {
        h2 {
            color: $primary;
        }
    }

    &__content-body {
        position: static;
        overflow-y: auto;
        height: 60%;
    }

    &__content-footer {
        height: 22%;
    }

    @media only screen and (max-width: 1450px) {
        width: 25%;

        &__pusher {
            min-width: 25%;
        }
    }

    @media only screen and (max-width: 768px) {
        width: 30%;

        &__pusher {
            min-width: 30%;
        }
    }
}
