@import "../../styles/GlobalVariables.scss";
@import "../../styles/Colors.scss";

.sidebar-options {
    position: relative;
    user-select: none;
    margin-left: 10px;

    &__dropdown {
        position: sticky;
        top: 0;
        left: 0;
        font-size: 18px;
        font-weight: 500;
        color: $tierce;

        &:hover {
            opacity: 0.7;
        }

        &:active {
            opacity: 0.5;
        }

        button,
        label {
            border: hidden;
            background-color: transparent;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__dropdown-content {
        margin-top: 10px;
        border-radius: $borderRadiusRounder;

        &--hidden {
            display: none;
        }
    }

    &__dropdown-item {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: $inactive;
        padding: 6px;

        &--active {
            color: $primary;
        }
    }

    &__label {
        width: 70%;
        font-size: 14px;
        margin-right: 2px;

        &--disabled {
            color: $disabled;
        }
    }

    &__tooltip-div {
        display: inline;
    }
}
