@import "../../styles/Colors.scss";
@import "../../styles/GlobalVariables.scss";

.sidebar-item {
    display: flex;
    border-top-left-radius: $borderRadiusRounder;
    border-bottom-left-radius: $borderRadiusRounder;
    padding: 10px;
    cursor: default;
    user-select: none;
    color: $font;

    &:hover {
        cursor: pointer;
    }
    
    &:hover:not(.sidebar-item--active) {
        span {
            color: $buttonHighlight;
        }
    }

    &--active {
        background-color: $secondary;

        span{
            color: $primary;
        }
    }

    &__title {
        font-weight: 500;
    }
}
