@import "../../styles/GlobalVariables.scss";
@import "../../styles/Colors.scss";

$transitionDuration: 0.7s;
$sidebarHiddenTransformX: calc(100% - #{$borderRadius});

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease 0s;
    height: 100vh;
    width: 350px;
    background-color: $backgroundSidebar;
    z-index: 2;

    &__pusher {
        height: 100%;
        min-width: 350px;
        transform: translate3d(0px, 0px, 0px);
        transition: all 0.5s ease 0s;

        &--closed {
            min-width: 0px;
            transform: translate3d($sidebarHiddenTransformX, 0px, 0px);
            transition: all 0.5s ease 0s;
        }
    }

    &--closed {
        transform: translate3d($sidebarHiddenTransformX, 0px, 0px);
        transition: all 0.5s ease 0s;
    }

    &__border-left {
        position: absolute;
        width: 8px;
        height: 100%;
        background-color: $tierce;
    }

    &__button-caret {
        position: absolute;
        border-radius: 50%;
        background-color: $background;
        top: 66px;
        left: -16px;
        width: 40px;
        height: 40px;
        z-index: 2;

        &:hover {
            svg,
            + .sidebar__border-left {
                opacity: 0.7;
            }
        }

        &:active {
            svg {
                opacity: 0.5;
            }
        }

        svg {
            width: 40px;
            height: 40px;
            color: $tierce;
        }
    }

    &__header {
        height: auto;
    }

    &__filter-bar {
        display: flex;
        justify-content: center;
        padding-top: 8px;
    }

    &__title {
        display: flex;
        justify-content: center;
        color: $primary;
        font-weight: bolder;
        font-size: 30px;
        margin-bottom: 8px;
    }

    &__body {
        height: 70%;
        overflow-y: auto;
        color: $primary;
        margin-top: 10px;
        padding-left: 4px;
    }

    &__footer {
        padding-left: 8px;
        height: 30%;
        overflow-y: auto;
    }

    @media only screen and (max-width: 1024px) {
        width: 300px;
    }

    @media only screen and (max-width: 768px) {
        width: 250px;

        &__body {
            height: 60%;
        }
    }
}
