@import "./../../../styles/Colors.scss";

.folder-tree-header {
    padding: 8px;

    &__title {
        font-weight: bold;
        font-size: 20px;
        color: $primary;
        user-select: none;
    }

    &__action-buttons {
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.25s;
        margin-left: 4px;

        .story__button {
            margin: 0 4px;
            background-color: transparent;

            &:hover {
                background-color: $background;
            }
        }
        .story__button > svg {
            width: 20px;
            height: 20px;
            fill: $primary;
        }

        &--visible {
            visibility: visible;
            opacity: 1;
        }
    }

    &__search-bar {
        margin-bottom: 16px;
        width: 300px;

        &.Mui-focused {
            .MuiInputLabel-root {
                color: $primary !important;
            }
            .MuiOutlinedInput-notchedOutline {
                border-color: $primary !important;
            }
        }
    }

    &--large {
        .folder-tree-header__title {
            font-size: 24px;
        }

        .folder-tree-header__action-buttons {
            margin-left: 0px;

            .story__button > svg {
                width: 28px;
                height: 28px;
                fill: $primary;
            }
        }
    }
}
