@import "../../../styles/Colors.scss";

$lineWidth: 1px;
$containersBeforeLabelWidth: 16px;

$smallSizeHeight: 28px;
$mediumSizeHeight: 36px;
$largeSizeHeight: 44px;

$smallSizeSpaceBetween: 8px;
$mediumSizeSpaceBetween: 12px;
$largeSizeSpaceBetween: 16px;

$iconSvgWidthRatio: 0.5;
$leftAdornmentSizeRatio: 0.4;
$labelFontSizeRatio: 0.5;

.tree-item {
    display: flex;
    align-items: center;
    outline: none;
    height: $smallSizeHeight;
    padding-left: $smallSizeSpaceBetween;

    &:not(.tree-item--disabled):not(.tree-item--highlighted):not(:focus):hover {
        background-color: $hoverShadeOne;
    }

    &:not(.tree-item--disabled):not(.tree-item--highlighted):hover {
        cursor: pointer;
    }

    &__branch-line-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $containersBeforeLabelWidth;
        height: $smallSizeHeight;
    }

    &__branch-line {
        background-color: $primary;
        opacity: 0.25;
        width: $lineWidth;
        height: $smallSizeHeight;

        &--highlighted {
            opacity: 1;
        }

        &--hidden {
            visibility: hidden;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: $containersBeforeLabelWidth;
        margin-left: $smallSizeSpaceBetween;

        svg {
            width: $smallSizeHeight * $iconSvgWidthRatio;
        }
    }

    &__left-adornment {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $containersBeforeLabelWidth;
        color: rgb(49, 55, 66);

        svg {
            width: $smallSizeHeight * $leftAdornmentSizeRatio;
            height: $smallSizeHeight * $leftAdornmentSizeRatio;
        }

        &--empty {
            min-width: $containersBeforeLabelWidth;
        }
    }

    &__label {
        margin-left: $smallSizeSpaceBetween;
        user-select: none;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $smallSizeHeight * $labelFontSizeRatio;

        &--disabled {
            color: $inactive;
        }
    }

    &__right-adornment {
        position: absolute;
        right: 0;
    }

    &__input {
        margin-left: $smallSizeSpaceBetween;
        outline: none;
        border: 2px solid $primary;
        font-size: $smallSizeHeight * $labelFontSizeRatio;
        font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
            "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        height: $smallSizeHeight;
        padding: 0px;
        width: 100%;
    }

    &--selected:not(.tree-item--disabled) {
        background-color: $selection;
    }

    &--focused:is(:focus) {
        outline: 2px solid $primary;
        outline-offset: -2px;
    }

    &--active {
        background-color: $hoverShadeTwo;
    }

    &--medium {
        height: $mediumSizeHeight;
        padding-left: $mediumSizeSpaceBetween;

        .tree-item {
            &__branch-line-container {
                height: $mediumSizeHeight;
            }

            &__branch-line {
                height: $mediumSizeHeight;
            }

            &__icon {
                margin-left: $mediumSizeSpaceBetween;

                svg {
                    width: $mediumSizeHeight * $iconSvgWidthRatio;
                }
            }

            &__left-adornment {
                svg {
                    width: $mediumSizeHeight * $leftAdornmentSizeRatio;
                    height: $mediumSizeHeight * $leftAdornmentSizeRatio;
                }
            }

            &__label {
                margin-left: $mediumSizeSpaceBetween;
                font-size: $mediumSizeHeight * $labelFontSizeRatio;
            }

            &__input {
                margin-left: $mediumSizeSpaceBetween;
                font-size: $mediumSizeHeight * $labelFontSizeRatio;
                height: $mediumSizeHeight;
            }
        }
    }

    &--large {
        height: $largeSizeHeight;
        padding-left: $largeSizeSpaceBetween;

        .tree-item {
            &__branch-line-container {
                height: $largeSizeHeight;
            }

            &__branch-line {
                height: $largeSizeHeight;
            }

            &__icon {
                margin-left: $largeSizeSpaceBetween;

                svg {
                    width: $largeSizeHeight * $iconSvgWidthRatio;
                }
            }

            &__left-adornment {
                svg {
                    width: $largeSizeHeight * $leftAdornmentSizeRatio;
                    height: $largeSizeHeight * $leftAdornmentSizeRatio;
                }
            }

            &__label {
                margin-left: $largeSizeSpaceBetween;
                font-size: $largeSizeHeight * $labelFontSizeRatio;
            }

            &__input {
                margin-left: $largeSizeSpaceBetween;
                font-size: $largeSizeHeight * $labelFontSizeRatio;
                height: $largeSizeHeight;
            }
        }
    }
}
