$actionIconsPrimaryColor: rgb(238, 238, 238);
$deleteIconHoverColor: red;
$editIconHoverColor: orange;

.editable {
    display: inline-block;

    &__input-div {
        input,
        textarea {
            width: 300px;
            padding: 5px;
            font-size: medium;
            color: #482673;
            border-style: none;
            border-radius: 0.5rem;

            &:focus {
                outline: 1px solid #4cbfa6;
            }
        }
    }

    &__label-div {
        display: flex;
        flex-direction: row;
        font-size: medium;
        color: #482673;
        background-color: #4cbfa6;
        border-radius: 0.5rem;
        padding-left: 2px;

        &:hover {
            cursor: pointer;
        }
    }

    &__action-buttons {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.1s, opacity 0.3s linear;
        margin-left: auto;

        .MuiSvgIcon-root {
            color: $actionIconsPrimaryColor;
            &#editable__edit-button {
                &:hover {
                    color: $editIconHoverColor;
                }
            }

            &#editable__delete-button {
                &:hover {
                    color: $deleteIconHoverColor;
                }
            }
        }
        &--visible {
            visibility: visible;
            opacity: 1;
        }
    }

    &__label {
        padding: 5px;
    }
}
