.editable-root {
    display: inline-block;
    .input-div {
        input {
            color: rgb(77, 112, 121);
            // background-color:  rgb(77, 112, 121);
            border-radius: 8px;
        }
    }

    .label-div {
        display: inline-block;

        .MuiChip-root {
            color: orange;
        }

        #chip {
            cursor: pointer;
            background-color: rgb(77, 112, 121);
            svg {
                color: red;
            }
        }
    }
}
