.mui-custom-select {
    padding: 60px;

    &__autocomplete-group {
        display: flex;
    }

    &__selected-image {
        display: flex;
        img {
            width: 50px;
        }
    }
}
